<label>Server Name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onserverCreated($event)"-->
<!--&gt;-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<!--<p>{{serverName}}</p>-->
<button
  class="btn btn-primary"
  [disabled]='addServer'
  (click)="serverCreated()">Add server</button>
<!--<p>{{ didServerCreated }}</p>-->
<p *ngIf="ifServerCreated else noServer">server was created with name ->{{serverName}} </p>
<ng-template #noServer>
  <div>
    <p>server is not created</p>
  </div>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>


